body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#canvas-div {
    position:absolute;
    top: 0px; 
    left:0px;
    padding: 0;
    margin: 0;
    background-image:
    linear-gradient(
      cyan, #f06d06
    );
}